---
const title = "About Page";

import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title = {title}>
    <Header />
    <h1>About Page</h1>
    <a href="/">Kembali kee Home</a>s
</Layout>
